@model IEnumerable<ElectricityWebApp.Models.ElectricityDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Electricity Details of country @TempData["country"]</h1>

#<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsConsumption)
            </th>

            <th>Action</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UnitsConsumption)
            </td>
            <td>
                <a asp-action="EditElectricity" asp-route-id="@item.ID" asp-route-country="@TempData["country"]">Edit</a> |
                <a asp-action="DeleteElectricity" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
